<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>[Food King] 아이디/비밀번호 찾기</title>
</head>
<body style="margin: 0; padding: 0; font-family: 'Noto Sans KR', 'Apple SD Gothic Neo', 'Malgun Gothic', '돋움', sans-serif;">
  <div style="width: 100%; background-color: #f4f4f4; padding: 20px;">
    <div style="width: 80%; max-width: 600px; margin: 0 auto; background-color: rgba(255, 255, 255, 0.8); border-radius: 8px; box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); padding: 20px; background-image: url('https://i.imgur.com/DSZMggH.jpeg'); background-size: cover; background-position: center;">
      <div style="display: flex; align-items: center; margin-bottom: 20px;">
        <img src="https://imgur.com/9qiWB2m.png" alt="FOODking 로고" style="width: 50px; height: 50px; margin-right: 10px;">
        <h1 style="color: #2980b9; font-size: 24px; margin: 0;">안녕하세요 Food King입니다.</h1>
      </div>
      <div style="background-image: url('https://imgur.com/j08D09u.png'); background-size: cover; background-position: center; height: 150px; border-radius: 8px; margin-bottom: 20px;">
      </div>
      <p style="font-size: 18px; color: black; text-align: center; margin-bottom: 20px;"><strong>아래의 내용을 확인해 주세요.</strong></p>
      <div style="border: 1px solid #2980b9; padding: 20px; text-align: center; background-color: #ecf0f1; border-radius: 8px;">
        <h3 style="color: #2980b9; margin-bottom: 10px;">발급된 ${type}입니다.</h3>
        <div style="font-size: 130%; color: blue; background-color: #fff; padding: 10px; border-radius: 5px; display: inline-block;">
          <strong>${type} : ${value}</strong>
        </div>
      </div>
    </div>
  </div>
</body>
</html>